.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.title-container {
    flex: 1;
    padding: 10px;
}

.title-text {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.history-container {
    flex: 1;
    padding: 10px;
}

.table {
    border: 1px solid black;
}

.table-heading {
    padding-left: 10px;
    padding-right: 10px;
}

.table-data {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.play-image {
    height: 25px;
    width: 25px;
}

.new-game-container {
    flex: 1
}   